ul.navigate { list-style-type:none; }

		bodyclass { font-size: 13px; color: #002b5b; font-family: Arial, Helvetica, sans-serif; }

td {color: #002b5b; font-family: Arial, Helvetica, sans-serif;}

a {color: rgb(0, 7, 100); font-weight:bold; text-decoration:none;}

a:hover, #more-articles:hover {color: #001427; text-decoration:underline;}

h1 { font-family: Arial, Helvetica, sans-serif; color: #001427; }
h2 { font-family: Arial, Helvetica, sans-serif; color: #001427; }
h3 { font-family: Arial, Helvetica, sans-serif; color: #001427; }

p { line-height:1.5; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify; }

img { border:0 }

img.linkIcon{
	width: 30px;
}

div.backgroundbox {
	width: 100%;
	height: 100%;
	background-color: #27323b;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -21;
}

div.page_title{
	border-radius: 20px;
	background-color: #81031e;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
	padding-bottom: 15px;
	padding-top: 10px
}

td.header{
	border-radius: 15px;
	background-color: #41040c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	font-weight: 600;
	color: white;
}

td.footer { 
	border-radius: 15px;
	text-align:center; 
	border-style:solid none solid none; 
	border-color:#ffffff; 
	border-width:2px; 
	border-radius: 10px;
	background-color:#ffffff;
}

td.mainContent { 
	background-color:#330707; 
	color:#d3d3d3; 
	font-family: Arial, Helvetica, sans-serif; 
	padding:15px; 
	vertical-align:top; 
	line-height:1.5;
	border-radius: 10px;
}

td.mainContent h1{
	color: #d3d3d3;
}

td.mainContent h2{
	color: #d3d3d3;
}

tr.spacer{
	height: 50px;
}




.mainContent a:hover { color: #002b5b; text-decoration:underline; }

li { text-align:justify; }
